{% extends 'home/base.html' %}

{% block title %}
Order Item Detail
{% endblock %}

{% block content %}

<p><b>Order ID {{order.id}}</b></p>
<p><b>Total Price {order.total_price}</b></p>




<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for key, order in order_history.items %}
    <tr>
        <td>{{order.product}}</td>
        <td>{{order.price}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.get_cost}}</td>
    </tr>

    {% endfor %}
    
    
</table>



{% endblock %}